.head {
    background-color: pink;
}
.para {
    color: pink;
}

.dark {
    background-color: black;
    color: white;
}

.light {
    background-color: palegoldenrod;
    color: black;
}

.main-container{
    border: solid 2px olivedrab;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    margin-top:140px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:30px;
    gap:30px;
    align-items: center;
}

.container{
    display: flex;
    flex-direction:column;
    gap:30px;
}

.navbarcontainer{
    height:70px;
    background-color: rgb(194, 193, 193);
    display: flex
}